<%= simple_form_for(@demographic) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
	<%= f.label "Female, Male, Other"%>
    <%= f.input :gender %> 
    <%= f.input :age %>
	<%= f.label "No High School, High School, Associate, Bachelors, Masters, Advanced"%>
    <%= f.input :education %>
    <%= f.input :nationality %>
		<%= f.input :user_id, :as => :hidden, :input_html => { :value => current_subject.id } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Save my Demographics' %>
  </div>
<% end %>
